<div class="card mt-3">
  <img src="{{item.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="{{item.url}}" class="card-title h5">{{item.title}}</a>
    <p class="card-text ">{{item.description}}</p>
  </div>
  <div class="card-footer">
    <div class="row justify-content-between px-2">
      <span class="text-muted mr-auto">{{name}}</span>
      <span [ngClass]="{'text-success':item.http_status_code==200,'text-danger':item.http_status_code!=200 }">{{item.http_status_code}}</span>
    </div>
  </div>
</div>
